body{
    margin :0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 43, 4);
}
#game{
    background-color: white
}
